<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Я сейчас буду сокращать все ссылки!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        function validateLink(evt) {
            var theEvent = evt || window.event;

            // Handle paste
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                // Handle key press
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9A-Za-z]|\./;
            if( !regex.test(key) ) {
                theEvent.returnValue = false;
                if(theEvent.preventDefault) theEvent.preventDefault();
            }
        }
    </script>
</head>
<body>

Я сейчас буду сокращать все ссылки!


<form action="/show_link" name="test" method="post">
    <p>
        <b>Ссылку можно печатать здесь. Если хотите, чтоб у ссылки было красивое имя, заполните и второе поле тоже</b>
        <br>
        <br>
    <p>Ссылку печатать сюда:</p>
        <input type="text" name="link" size="40">
        <br>
    <p>Красивый адрес печатать сюда:</p>
        <input type="text" name="link-name" size="40" onkeypress='validateName(event)'>
    <p> <button class="submit">Нажми</button></p>
    {% if context:%}
        <h3>Ваша ссылка: {{context}}</h3>
    {% endif %}
    </p>
</form>
</body>
</html>